{% extends 'layout.html' %} {% from 'bootstrap5/form.html' import render_form %}
{% block content %}
<div class="flex flex-row items-center justify-center">
  <div
    class="w-full rounded-lg border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 border-gray-500 dark:border-gray-700"
  >
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      <h1
        class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
      >
        Create an account
      </h1>
      <div class="space-y-4 md:space-y-6">
        {{ render_form(form, action=url_for("register"), method="POST") }}
        <p class="text-sm font-light text-gray-500 dark:text-gray-400">
          Already have an account?
          <a
            href="{{ url_for('login') }}"
            class="font-medium text-primary-600 hover:underline dark:text-primary-500"
            >Login</a
          >
        </p>
        <p class="text-sm alert alert-danger">
          This app requires admin permissions to edit content. If you are not an admin, you might not want to signup.
        </p>  
      </div>
    </div>
  </div>
</div>
{% endblock %}
