<footer class="sticky-bottom bg-white rounded-lg shadow-sm border m-4 dark:bg-gray-800n">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 flex flex-row justify-between"
  >
    <span class="text-sm text-gray-500 dark:text-gray-400"
      >©
      <a href="https://timonrieger.de?utm_source=ressource-library">Timon Rieger</a>
    </span>
    <span class="text-sm text-gray-500 dark:text-gray-400"
      >READ ONLY (to add, edit, or delete ressources, you have to be an admin)
    </span>
    <span class="text-sm text-gray-500 dark:text-gray-400"
      >Built with
      <a href="https://flask.palletsprojects.com/en/2.0.x/">Flask</a>
      and
      <a href="https://tailwindcss.com/">Tailwind CSS</a>.
    </span>
  </div>
</footer>
