<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    {% block title %}{% endblock %}
    {% block description %}{% endblock %}
</head>
<body> 
    {% include 'components/navbar.html' %}
    <main class="container mx-auto my-8">
    {% block content %}
    {% endblock %}
    </main>
    {% include 'components/footer.html' %}
    <script src="https://unpkg.com/flowbite@2.0.0/dist/flowbite.js"></script>
</body>
</html>