<nav
  class="sticky-top bg-white shadow-sm border m-4 border-gray-200 px-2 sm:px-4 py-2.5 rounded-lg"
>
  <div
    class="container flex flex-wrap justify-between items-center mx-auto my-3"
  >
    <div class="flex flex-col gap-2">
      <div class="flex items-center">
          <a href="{{ url_for('home') }}" class="flex items-center">
          <img
            class="hover-grow rounded me-2"
            src="../static/logo.svg"
            alt="Logo"
            width="50rem"
          />
        <span class="text-2xl font-bold text-blue-700 dark:text-blue-300">
          Public Library
        </span>
      </div>
      <span class="text-sm text-blue-700 dark:text-blue-300"><em>Saving stuff for future reference</em></span>
    </a>
    </div>

    <div class="flex md:order-2 gap-2">
      {% if current_user.is_authenticated %}
      <a href="{{ url_for('add') }}">
        <button
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Add
        </button>
      </a>
      <a href="{{ url_for('logout') }}">
        <button
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Logout
        </button>
      </a>
      {% else %}
      <a href="{{ url_for('login') }}">
        <button
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Login
        </button>
      </a>
      <a href="{{ url_for('register') }}">
        <button
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Register
        </button>
      </a>
      {% endif %}
    </div>
  </div>
</nav>
